*,
a:focus {
  outline: 0 !important;
}

.list-icon01, .list-icon02, .list-icon03 { 
  width: 92px; 
  height: 92px; 
  background-image: url(../theme/frontend/img/list-icon02.png); 
  background-repeat: no-repeat; 
  -webkit-background-size: 100% auto; 
  -o-background-size: 100% auto; 
  background-size: 100% auto;
  float: left; 
  position: relative; 
  margin-right: 10px;
  /*position: relative; */
  /*bottom: 40px; 
  left: 200px;*/
}
.list-icon04 { 
  width: 92px; 
  height: 92px; 
  background-image: url(../theme/frontend/img/list-icon01.png); 
  background-repeat: no-repeat; 
  -webkit-background-size: 100% auto; 
  -o-background-size: 100% auto; 
  background-size: 100% auto; 
}
.list-icon01:hover, .list-icon02:hover{
 opacity: 0.7 
}
.coupon_icon:hover{
  /*background-image: url(../theme/frontend/img/coupon_active.png) ;*/
  opacity: 0.9;
}
.member_icon:hover{
  /*background-image: url(../theme/frontend/img/member_active.png) ;*/
  opacity: 0.9;
}
.list-icon01 a, .list-icon02 a, .list-icon03 a { 
  width: 100%;
  height: 92px;
  display: block 
 }
.list-icon02 { 
  background-image: url(../theme/frontend/img/list-icon01.png) ;
}
/*.list-icon03 { background-image: url(../img/list-icon03.png) }*/
.member_icon { 
  background-image: url(../theme/frontend/img/member_normal.png) ;
}
.coupon_icon { 
  background-image: url(../theme/frontend/img/coupon_normal.png) ;
}
#frm_coupon{
  float: left; 
  /*padding-top: 20px;*/
}
.input_area{
  float: left;
  /*padding-top: 25px;*/
  margin-right: 10px;
  /*width: 400px;*/
  position: relative;
    top: 20px;
}
.list-input, .card-page-input, .atm-page-input { width: 190px;float: left; position: relative; bottom: 50px; left: 30px; border: 2px solid #AC874B; -webkit-border-radius: 5px; border-radius: 5px }
.list-input input, .card-page-input input, .atm-page-input input { text-align: left; color: #AC874B; width: 170px; padding: 7px 10px }
.list-input input:nth-child(1), .card-page-input input:nth-child(1), .atm-page-input input:nth-child(1) { -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px }
.list-input input:nth-child(2), .card-page-input input:nth-child(2), .atm-page-input input:nth-child(2) { -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top: 2px solid #AC874B }

.goods-chickocn { width: 100%; padding: 0px 30px 100px; border: 1px solid #000; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 20px }
.goods-chickocn:after { content: ""; display: block; clear: both }
.goods-chickocn .chickicon { float: right; position: absolute; top: 20px; right: 20px }
.list-remind02 { border: 3px solid #c3c433; padding: 3px 10px; position: absolute; -webkit-border-radius: 5px; border-radius: 5px; top: -40px; width: auto; left: -380px; text-align: center }

.list-remind05 {
    color: #000;
    font-size: 0.9rem;
    border: 3px solid #6a5e52;
    padding: 0px 10px;
    position: absolute;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    top: 320px;
    width: auto;
    line-height: 0;
    left: 380px;
    text-align: center;
    height: 30px;
}
.list-remind05 p{
position: relative;
top: 0px;
}

.list-remind05:after { content: ""; width: 0; height: 0; position: absolute; border-style: solid; border-width: 11px 0 11px 14px; border-color: transparent transparent transparent #6a5e52;; top: 2px; right: -14px }
.list-remind05 .list-remind-icon05 { width: 30px; height: 30px; background-image: url(../theme/frontend/img/list-icon05.png); background-repeat: no-repeat; -webkit-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; position: absolute; position: absolute; top: 1px; left: -40px }
.list-remind05 .list-remind-icon05-ok { width: 30px; height: 30px; background-image: url(../theme/frontend/img/list-icon07.png); background-repeat: no-repeat; -webkit-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; position: absolute; position: absolute; top: -2px; left: -40px }
.list-remind06 { float: right; border: 3px solid #AC874B; padding: 3px 10px; position: absolute; -webkit-border-radius: 5px; border-radius: 5px; top: -5px; width: auto; left: -300px; text-align: center }
.list-remind06:after { content: ""; width: 0; height: 0; position: absolute; border-style: solid; border-width: 11px 0 11px 14px; border-color: transparent transparent transparent #AC874B; top: 2px; right: -14px }
.list-remind06 .list-remind-icon06 { width: 30px; height: 30px; background-image: url(../theme/frontend/img/list-icon05.png); background-repeat: no-repeat; -webkit-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; position: absolute; position: absolute; top: -2px; left: -40px }
.list-remind06 .list-remind-icon06-ok { width: 30px; height: 30px; background-image: url(../theme/frontend/img/list-icon06.png); background-repeat: no-repeat; -webkit-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; position: absolute; position: absolute; top: -2px; left: -40px }
.list-totalcon .list-totalquatitly {
    margin-right: 74px;
}
.list-bouns{
    width: 200px;
    float: right;
    margin: 10px 138px 10px 0;
    padding: 10px 0 0 10px;
    /*float: left;*/
    
    font-size: 20px;
    /*text-align: right;*/
    color: #777;
}
.list-realbouns{
  float: left;
  margin-right: 20px;
}
.list-realdiscount{
  float: left;
    font-size: 20px;
    text-align: right;
    color: #777; 
  width: 80px;
}
.list-realdiscount span{
      font-size: 14px;
    margin-left: 5px;
}
.discount_area{
    height: 100%;
    width: 100%;
    /* line-height: 100px; */
    position: relative;
    bottom: -100px;
    left: 0px;
    float: left;
}
.dis_title h1{
  position: relative;
    width: 54px;
    float: left;
    line-height: 30px;
    bottom: 40px;
    font-size: 19px;
    border-right: solid 1px #333;
    padding: 10px 10px;
    font-weight: 400;
}
#coupon_comfirm_btn{
    float: left;
    position: relative;
    margin: 0 0 0 27px;
    padding: 14px 10px 26px 10px;
    background: #AC874B;
    top: -50px;
    height: 34px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.frm_area {
 float: left;
 position: relative;
  top: 15px;
}
.frm_area ::placeholder{
 color: #AC874B;
 font-size: 13px;
}
.frm_area h1{
 color: #FFF;
 font-size: 19px;
 font-weight: 400;
 position: relative;
  top: -3px;
}
#frm_coupon, #frm_member{
  display: none;
}
.tips p{
  float: left;
  font-size: 10px;
  width: 270px;
  
  position: relative;
  top: -55px;
  left: -164px;
}
.coupon{
  color: #AC874B;
}
.member{
  color: #6a5e52;
}
.member_point{
  float: left;
  line-height: 34px;
  /*width: 200px;*/
  position: relative;
    top: -50px;
    left: 30px;
    border:1px solid #6a5e52;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 100%;
}
.member_value{
  float: left;
  width: 90px;
  border:1px solid #6a5e52;
  padding-right: 10px;
  text-align: right;
}
.member_item{
  float: left;
  width: 100px;
  border:1px solid #6a5e52;
  padding-left: 10px;
}
#member_comfirm_btn{
    float: left;
    position: relative;
    margin: 0 0 0 27px;
    padding: 14px 10px 26px 10px;
    background: #6a5e52;
    top: -50px;
    height: 34px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.input_area button{
  border:0;
}
.button_align_center{
  float: left;
  width: 90px;
}
#member_tips_string{
  position: relative;
  left: -185px;
}
@media screen and (max-width: 768px){
  .tips p {
    float: none;
    font-size: 10px;
    width: 100%;
    position: relative;
    top: -35px;
    left: auto;
    margin-left: 5px;
  }
  .list-remind02 {
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    left: -5px;
    font-size: 0.75rem;
    text-align: left;
    background-color: #f8f8f8;
    margin-top: 40px;
  }
  .list-chickcon {
    width: 230px;
    float: none;
    /* margin-left: auto; */
    margin: auto;
    margin-top: 20px;
  }
  .list-bouns {
    width: 100%;
     float: right; 
    margin: 0px 0px 0px 0;
    padding: 0px 0 0 0px;
    /* float: left; */
    position: relative;
    font-size: 0.875rem;
    /* text-align: right; */
    color: #777;
  }
  .list-realbouns {
    float: left;
    margin-right: 10px;
  }
  .list-bouns .list-realdiscount {
        top: 0px;
    right: 0;
    position: absolute;
    font-size: 0.875rem;
    width: 74px;
  }
  .list-totalcon .list-totalquatitly {
    margin-right: 0;
  }
  .list-remind06 {
    float: right;
    border: 3px solid #AC874B;
    padding: 3px 10px;
    position: absolute;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    top: 110px;
    width: auto;
    left: -5px;
    width: 100%;
    text-align: center;
    font-size: 0.75rem;
    background-color: #FFF;
  }
  .list-remind06 .list-remind-icon06, .list-remind06:after, .list-remind05:after  {
    display: none;
  }
  .list-remind05 {
    color: #000;
    font-size: 0.75rem;
    border: 3px solid #6a5e52;
    padding: 0px 10px;
    position: absolute;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    top: 120px;
    width: 100%;
    line-height: 1.4;
    left: -5px;
    float: none;
    text-align: left;
    height: 45px;
    /* margin-bottom: 10px; */
    background-color: #FFF;
  }
  .list-remind-icon05{
    display: none;
  }
  .list-remind05 p{
    top: -4px;
  }
  .dis_title{
    /*display: none;*/
    
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #666;
    bottom: -55px;
    left: 0px;
    position: relative;
  }
  .dis_title h1{
    float: none;
    width: 100%;
    text-align: center;
    border-right: 0px;
    bottom: 0px;
    left: -5px;
  }
  .frm_area h1{
   position: relative;
  top: auto;
  }
  .discount_area {
    height: 100%;
    width: 100%;
    position: relative;
    bottom: -20px;
    left: 0px;
    float: left;
  }
  .input_area {
    float: none;
    top: 60px;
    margin-right: 0;
  }
  .frm_area {
    float: none;
    position: relative;
    top: 37px;
    margin: auto;
    left: auto;
    width: 100%;
  }
  .list-icon03 {
    float: none;
    margin-top: 20px;
    margin: auto;
    position: relative !important;
    left: auto;
    width: 100%;
    bottom: -20px;
    height: 70px;
  }
  .frm_area .list-input{
     float: none; 
    position: relative;
    margin: auto;
    bottom: 30px;
    left: auto;
    width: 99%;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    max-width: 276px;
    width: 100%;
  }
  #frm_coupon {
    float: none;
    /*max-width: 256px;*/
    width: 100%;
  }
  .frm_area .list-input input{
        width: 100%;
    max-width: 256px;
    line-height: 3;
    border-radius: 0;
    font-size: 1rem;
  }
  .list-ordercon .list-ordercost {
    font-size: 1.5rem;
  }
  #coupon_comfirm_btn {
    float: none;
    position: relative;
    margin: 0 auto;
    padding: 5px 10px 5px 10px;
    background: #AC874B;
    top: -30px;
    height: auto;
    left: auto;
    /*margin-left: 5px;*/
    width: 260px;
    text-align: center;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .member_point {
    float: none;
    line-height: 4rem;
    width: 276px;
    position: relative;
    top: -27px;
    height: 132px;
    left: auto;
    border: 1px solid #6a5e52;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    font-size: 100%;
    margin: 0 auto;
  }
  .member_value {
    float: left;
    width: 154px;
    border: 1px solid #6a5e52;
    border-left:  0px solid #6a5e52;
    padding-right: 10px;
    height: 66px;
    text-align: right;
    font-size: 1rem;
  }
  .member_item {
    float: left;
    width: 100px;
    border: 1px solid #6a5e52;
    border-right:  0px solid #6a5e52;
    padding-left: 10px;
    height: 66px;
    font-size: 1rem;
  }

  #member_comfirm_btn {
    float: left;
    position: relative;
    margin: auto;
    padding: 5px 10px 5px 10px;
    background: #6a5e52;
    top: -30px;
    height: auto;
    left: 1px;
    width: 100%;
    max-width: 258px;
    text-align: center;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .tips p{
    font-size: 0.75rem;
  }
  .frm_area ::placeholder{
 color: #AC874B;
 font-size: 1rem;
  }
  .coupon_icon, .coupon_icon:hover {
    max-width: 280px;
    background-image: url(../theme/frontend/img/coupon_normal02.png);
  }
  .member_icon, .member_icon:hover { 
  max-width: 280px;
  background-image: url(../theme/frontend/img/member_normal02.png) ;
  }
  .goods-title a, .goods-from-title a {
    width: 120px;
    height: 120px;
    background-image: url(../theme/frontend/img/goods-counticon.png);
  }
  .goods-chickocn {
    padding: 0px 10px 100px;
  }
  .button_align_center{
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    float: none;
  }
  #member_tips_string{
  position: relative;
  left: auto;
  }

  .list-chickcon .list-othercon {
    margin: 160px 0 0 0;
  }
  .list-othercon div:nth-child(2) {
    width: 110px;
    text-align: right;
  }
  .list-othercon .list-packaccount {
    width: 100%;
    text-align: left;
  }
  .list-chickcon .list-ordercon,.list-chickcon .list-ordercon {
    width: 100%;
    padding: 10px 0 0 0px;
  }
  .list-othercon .list-transcost {
    margin: 0 !important;
    position: relative;
    top: 0;
    right: 0;
    float: right;
  }
  .list-othercon div:nth-child(3), .list-othercon div:nth-child(4) {
    margin-top: 0px;
    width: 80px;
  }
  .list-chickcon .list-realcon {
    width: 100%;
    float: left;
    margin: 10px 0;
    border-top: 1px solid #000;
    padding: 10px 0 0 10px;
    position: relative;
  }
  .list-chickcon .list-realcon .list-realcost {
    position: relative;
    top: 0px;
    float: right;
    right: 10px;
    font-size: 0.875rem;
    margin-right: 0;
    text-align: right;
    width: 110px;
  }
}