.list-icon01, .list-icon02, .list-icon03 { 
  width: 92px; 
  height: 92px; 
  background-image: url(../theme/frontend/img/list-icon02.png); 
  background-repeat: no-repeat; 
  -webkit-background-size: 100% auto; 
  -o-background-size: 100% auto; 
  background-size: 100% auto;
  float: left; 
  position: relative; 
  margin-right: 10px;
  /*position: relative; */
  /*bottom: 40px; 
  left: 200px;*/
}
.list-icon04 { 
  width: 92px; 
  height: 92px; 
  background-image: url(../theme/frontend/img/list-icon01.png); 
  background-repeat: no-repeat; 
  -webkit-background-size: 100% auto; 
  -o-background-size: 100% auto; 
  background-size: 100% auto; 
}
.list-icon01:hover, .list-icon02:hover{
 opacity: 0.7 
}
.coupon_icon:hover{
  background-image: url(../theme/frontend/img/coupon_active.png) ;
  opacity: 1;
}
.member_icon:hover{
  background-image: url(../theme/frontend/img/member_active.png) ;
  opacity: 1;
}
.list-icon01 a, .list-icon02 a, .list-icon03 a { 
  width: 100%;
  height: 92px;
  display: block 
 }
.list-icon02 { 
  background-image: url(../theme/frontend/img/list-icon01.png) ;
}
/*.list-icon03 { background-image: url(../img/list-icon03.png) }*/
.member_icon { 
  background-image: url(../theme/frontend/img/member_normal.png) ;
}
.coupon_icon { 
  background-image: url(../theme/frontend/img/coupon_normal.png) ;
}
#frm_coupon{
  float: left; 
  /*padding-top: 20px;*/
}
.input_area{
  float: left;
  /*padding-top: 25px;*/
  margin-right: 10px;
  /*width: 400px;*/
  position: relative;
    top: 20px;
}
.list-input, .card-page-input, .atm-page-input { width: 190px;float: left; position: relative; bottom: 50px; left: 30px; border: 2px solid #ADB04D; -webkit-border-radius: 5px; border-radius: 5px }
.list-input input, .card-page-input input, .atm-page-input input { text-align: left; color: #ADB04D; width: 170px; padding: 7px 10px }
.list-input input:nth-child(1), .card-page-input input:nth-child(1), .atm-page-input input:nth-child(1) { -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px }
.list-input input:nth-child(2), .card-page-input input:nth-child(2), .atm-page-input input:nth-child(2) { -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top: 2px solid #ADB04D }

.goods-chickocn { width: 100%; padding: 0px 30px 100px; border: 1px solid #000; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 20px }
.goods-chickocn:after { content: ""; display: block; clear: both }
.goods-chickocn .chickicon { float: right; position: absolute; top: 20px; right: 20px }
.list-remind02 { border: 3px solid #c3c433; padding: 3px 10px; position: absolute; -webkit-border-radius: 5px; border-radius: 5px; top: -40px; width: auto; left: -380px; text-align: center }

.list-remind05 {
    color: #000;
    font-size: 0.9rem;
    border: 3px solid #8F6D55;
    padding: 0px 10px;
    position: absolute;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    top: 320px;
    width: auto;
    line-height: 0;
    left: 380px;
    text-align: center;
    height: 30px;
}
.list-remind05 p{
position: relative;
top: 0px;
}

.list-remind05:after { content: ""; width: 0; height: 0; position: absolute; border-style: solid; border-width: 11px 0 11px 14px; border-color: transparent transparent transparent #8F6D55;; top: 2px; right: -14px }
.list-remind05 .list-remind-icon05 { display: none; width: 30px; height: 30px; background-image: url(../theme/frontend/img/list-icon05.png); background-repeat: no-repeat; -webkit-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; position: absolute; position: absolute; top: -2px; left: -40px }
.list-remind05 .list-remind-icon05-ok { width: 30px; height: 30px; background-image: url(../theme/frontend/img/list-icon05.png); background-repeat: no-repeat; -webkit-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; position: absolute; position: absolute; top: -2px; left: -40px }
.list-remind06 { float: right; border: 3px solid #c3c433; padding: 3px 10px; position: absolute; -webkit-border-radius: 5px; border-radius: 5px; top: -5px; width: auto; left: -300px; text-align: center }
.list-remind06:after { content: ""; width: 0; height: 0; position: absolute; border-style: solid; border-width: 11px 0 11px 14px; border-color: transparent transparent transparent #c3c433; top: 2px; right: -14px }
.list-remind06 .list-remind-icon06 { width: 30px; height: 30px; background-image: url(../theme/frontend/img/list-icon06.png); background-repeat: no-repeat; -webkit-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; position: absolute; position: absolute; top: -2px; left: -40px }
.list-remind06 .list-remind-icon06-ok { width: 30px; height: 30px; background-image: url(../theme/frontend/img/list-icon06.png); background-repeat: no-repeat; -webkit-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; position: absolute; position: absolute; top: -2px; left: -40px }
.list-totalcon .list-totalquatitly {
    margin-right: 74px;
}
.list-bouns{
    width: 200px;
    float: right;
    margin: 10px 138px 10px 0;
    padding: 10px 0 0 10px;
    /*float: left;*/
    
    font-size: 20px;
    /*text-align: right;*/
    color: #777;
}
.list-realbouns{
  float: left;
  margin-right: 20px;
}
.list-realdiscount{
  float: left;
    font-size: 20px;
    text-align: right;
    color: #777; 
  width: 80px;
}
.list-realdiscount span{
      font-size: 14px;
    margin-left: 5px;
}
.discount_area{
    height: 100%;
    width: 100%;
    /* line-height: 100px; */
    position: relative;
    bottom: -100px;
    left: 0px;
    float: left;
}
.dis_title h1{
  position: relative;
    width: 54px;
    float: left;
    line-height: 30px;
    bottom: 40px;
    font-size: 19px;
    border-right: solid 1px #333;
    padding: 10px 10px;
    font-weight: 400;
}
#coupon_comfirm_btn{
    float: left;
    position: relative;
    margin: 0 0 0 27px;
    padding: 14px 10px 26px 10px;
    background: #ADB04D;
    top: -50px;
    height: 34px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.frm_area {
 float: left;
 position: relative;
  top: 15px;
}
.frm_area ::placeholder{
 color: #ADB04D;
 font-size: 13px;
}
.frm_area h1{
 color: #FFF;
 font-size: 19px;
 font-weight: 400;
}
#frm_coupon, #frm_member{
  display: none;
}
.tips p{
  float: left;
  font-size: 10px;
  
  width: 100%;
  position: relative;
  top: -55px;
  left: 30px;
}
.coupon{
  color: #ADB04D;
}
.member{
  color: #8F6D55;
}
.member_point{
  float: left;
  line-height: 34px;
  /*width: 200px;*/
  position: relative;
    top: -50px;
    left: 30px;
    border:1px solid #8F6D55;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 100%;
}
.member_value{
  float: left;
  width: 90px;
  border:1px solid #8F6D55;
  padding-right: 10px;
  text-align: right;
}
.member_item{
  float: left;
  width: 100px;
  border:1px solid #8F6D55;
  padding-left: 10px;
}
#member_comfirm_btn{
    float: left;
    position: relative;
    margin: 0 0 0 27px;
    padding: 14px 10px 26px 10px;
    background: #8F6D55;
    top: -50px;
    height: 34px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.input_area button{
  border:0;
}
@media screen and (max-width: 768px){
.list-remind02 {
    width: 200%;
    position: absolute;
    top: 0;
    right: 0;
    left: -77%;
    font-size: 0.75rem;
    text-align: left;
    background-color: #f8f8f8;
    margin-top: 40px;
  }
  .list-chickcon {
    width: 140px;
    float: left;
    margin-left: 35%;
    /* margin-right: calc(100% - 140px); */
  }
  .list-bouns {
    width: 100%;
     float: right; 
    margin: 0px 0px 0px 0;
    padding: 0px 0 0 0px;
    /* float: left; */
    position: relative;
    font-size: 0.875rem;
    /* text-align: right; */
    color: #777;
  }
  .list-realbouns {
    float: left;
    margin-right: 10px;
  }
  .list-bouns .list-realdiscount {
    top: 20px;
    right: 0;
    font-size: 0.875rem;
    width: 74px;
  }
  .list-totalcon .list-totalquatitly {
    margin-right: 0;
  }
  .list-remind06 {
    float: right;
    border: 3px solid #c3c433;
    padding: 3px 10px;
    position: absolute;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    top: 110px;
    width: auto;
    left: -110px;
    width: 200%;
    text-align: center;
    font-size: 0.75rem;
  }
  .list-remind06 .list-remind-icon06, .list-remind06:after, .list-remind05:after  {
    display: none;
  }
  .list-remind05 {
    color: #000;
    font-size: 0.75rem;
    border: 3px solid #8F6D55;
    padding: 0px 10px;
    position: absolute;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    top: 120px;
    width: 200%;
    line-height: 1.2;
    left: -110px;
    float: right;
    text-align: center;
  }
  .list-remind05 p{
    top: -4px;
  }
  .dis_title{
    display: none;
  }
  .discount_area {
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 0px;
    left: 5px;
    float: left;
  }
  .input_area {
    float: none;
  }
  .frm_area {
    float: left;
    position: relative;
    top: 80px;
    margin-left: 35%;
    left: -130px;
  }
  .list-icon03 {
    float: left;
    margin-top: 70px;
    margin-left: 35%;
    position: relative !important;
    left: 0;
    bottom: 0;
  }
  .frm_area .list-input{
    width: 276px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .frm_area .list-input input{
    width: 256px;
    line-height: 3;
    border-radius: 0;
  }
  .list-ordercon .list-ordercost {
    font-size: 1.5rem;
  }
  #coupon_comfirm_btn {
    float: left;
    position: relative;
    margin: 0 0 0 27px;
    padding: 10px 10px 10px 10px;
    background: #ADB04D;
    top: -51px;
    height: auto;
    left: 3px;
    width: 260px;
    text-align: center;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .member_point {
    float: left;
    line-height: 3rem;
    width: 276px;
    position: relative;
    top: -50px;
    left: 30px;
    border: 1px solid #8F6D55;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    font-size: 100%;
  }
  .member_value {
    float: left;
    width: 154px;
    border: 1px solid #8F6D55;
    border-left:  0px solid #8F6D55;
    padding-right: 10px;
    text-align: right;
  }
  .member_item {
    float: left;
    width: 100px;
    border: 1px solid #8F6D55;
    border-right:  0px solid #8F6D55;
    padding-left: 10px;
  }
  #member_comfirm_btn {
    float: left;
    position: relative;
    margin: 0 0 0 27px;
    padding: 10px 10px 10px 10px;
    background: #8F6D55;
    top: -51px;
    height: auto;
    left: 3px;
    width: 258px;
    text-align: center;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .tips p{
    font-size: 1rem;
  }
}