
<div id="footer">
  <div class="footer_gif"></div><a href="https://www.goodchos.com.tw/article/25">關於我們</a><a href="http://www.goodchos.com.tw/search?q=%E5%AA%92%E9%AB%94%E5%A0%B1%E5%B0%8E">媒體報導</a><a href="https://www.goodchos.com.tw/article/44">聯絡我們</a><a href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&amp;j=5e6042263c6c3f2230323c1d1d1d1d5f2443a363189j01&amp;jobsource=n104bank1">加入我們</a>
  <div class="footerMessage"><a href="https://www.goodchos.com.tw/" class="footer_logo"><img src="theme/frontend/img/footerlogo.png" href="href"/></a>
    <div class="footerMessage__linkList"><a href="https://www.facebook.com/goodchos/?fref=ts"><img src="theme/frontend/img/icon/FB_W@2x.png" alt="alt"/></a><a href="https://lin.ee/8OmJghA"><img src="theme/frontend/img/icon/Line_W@2x.png" alt="alt"/></a></div>
  </div>
</div>