
<!--  Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PFCWQXL" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!--  End Google Tag Manager (noscript) -->
<div id="navbar">
  <div class="navbar_container">
    <div class="navbar_rightCtrl">
      <ul class="navbar_linkList">
        <li>
          <form id="search" action="https://www.goodchos.com.tw/search" method="get" class="search-icon-con">
            <input id="s" name="q" type="text" placeholder="想要查什麼"/>
          </form><a class="navbar_iconLink navbar_searchBtn navbar--search"></a>
        </li>
        <li><a href="https://www.facebook.com/goodchos/?fref=ts" class="navbar_iconLink navbar--fb"></a></li>
        <li><a href="https://lin.ee/8OmJghA" class="navbar_iconLink navbar--line"></a></li>
      </ul>
      <ul class="navbar_linkList">
        <li><a href="inquiry.html" class="navbar_orderSearch">訂單查詢</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="logo">
  <div class="logo_container">
    <button class="logo_showMenuBtn"></button><a href="https://www.goodchos.com.tw/"></a>
    <ul class="logo_linkList">
      <li><a href="inquiry.html">訂單查詢</a></li>
      <li class="logo_linkList_user"><a href="inquiry_login.html" class="logo_linkList_login logo_linkList_login--outline">會員中心</a></li>
      <li>
        <form id="search" action="https://www.goodchos.com.tw/search" method="get" class="search-icon-con">
          <input id="s" name="q" type="text" placeholder="想要查什麼"/>
        </form><a class="navbar_iconLink navbar_searchBtn navbar--search"></a>
      </li>
    </ul>
  </div>
</div>
<div id="pcmenu-sticky-wrapper" style="height: 46px;" class="sticky-wrapper">
  <div class="pcmenu__container">
    <div class="menuMHeader"><a href="#" class="menuMHeader__logo"> </a>
      <button class="menuMHeader__close"></button>
    </div>
    <ul class="headerMenu">
      <li class="headerMenu__item"><a href="#" class="headerMenu__link">門市通路<img src="theme/frontend/img/icon/Plus.svg" alt=""/></a>
        <ul class="headerMenu__subMenu">
          <li class="headerMenu__subMenu__item"><a href="https://www.goodchos.com.tw/store/infomation/1" class="headerMenu__subMenu__link">信義店</a></li>
          <li class="headerMenu__subMenu__item"><a href="https://www.goodchos.com.tw/store/infomation/3" class="headerMenu__subMenu__link">圓山店</a></li>
          <li class="headerMenu__subMenu__item"><a href="https://www.goodchos.com.tw/store/infomation/4" class="headerMenu__subMenu__link">芝山店</a></li>
          <li class="headerMenu__subMenu__item"><a href="https://www.goodchos.com.tw/store/infomation/6" class="headerMenu__subMenu__link">微風南京店</a></li>
          <li class="headerMenu__subMenu__item"><a href="https://www.goodchos.com.tw/store/infomation/7" class="headerMenu__subMenu__link">台中新光店</a></li>
          <li class="headerMenu__subMenu__item"><a href="https://www.goodchos.com.tw/store/infomation/8" class="headerMenu__subMenu__link">台北時代店</a></li>
          <li class="headerMenu__subMenu__item"><a href="https://www.goodchos.com.tw/store/infomation/9" class="headerMenu__subMenu__link">台北京站店</a></li>
        </ul>
      </li>
      <li class="headerMenu__item"><a href="https://www.goodchos.com.tw/hotnews" class="headerMenu__link">新品資訊</a></li>
      <li class="headerMenu__item"><a href="#" class="headerMenu__link"><span class="d-block d-md-none">貝果訂購</span><span class="d-none d-md-block">美味貝果</span><img src="theme/frontend/img/icon/Plus.svg" alt=""/></a>
        <ul class="headerMenu__subMenu headerMenu__subMenu--order">
          <li class="headerMenu__subMenu__item"><a href="https://www.goodchos.com.tw/article/56" class="headerMenu__subMenu__link">美味堅持</a></li>
          <li class="headerMenu__subMenu__item"><a href="https://www.goodchos.com.tw/article/29" class="headerMenu__subMenu__link">口味一覽</a></li>
          <li class="headerMenu__subMenu__item d-block d-md-none"><a href="https://www.goodchos.com.tw/shop" class="headerMenu__subMenu__link">開始挑選</a></li>
          <li class="headerMenu__subMenu__item d-block d-md-none"><a href="https://www.goodchos.com.tw/inquiry" class="headerMenu__subMenu__link">訂單查詢</a></li>
          <li class="headerMenu__subMenu__item"><a href="https://www.goodchos.com.tw/article/34" class="headerMenu__subMenu__link">常見 Q & A</a></li>
        </ul>
      </li>
      <li class="headerMenu__item"><a href="https://www.goodchos.com.tw/group" class="headerMenu__link">在地選品</a></li>
      <li class="headerMenu__item"><a href="https://www.goodchos.com.tw/vender" class="headerMenu__link">環境友善</a></li>
      <li class="headerMenu__item"><a href="https://www.goodchos.com.tw/simplemarket" class="headerMenu__link">活動展演</a></li>
      <li class="headerMenu__item d-none d-md-block"><a href="https://www.goodchos.com.tw/shop" class="headerMenu__link text-primaryGreen">線上訂購</a></li>
    </ul>
    <div class="menuContactUs">
      <div class="menuContactUs__btnGroup"><a href="#" title="title" class="menuContactUs__btnGroup__link menuContactUs__btnGroup__link--outline">訂單查詢 </a><a href="#" title="title" class="menuContactUs__btnGroup__link">登入會員 </a></div>
      <div class="menuContactUs__iconLink"><span>追蹤我們</span>
        <div class="menuContactUs__linkList"><a href="#"><img src="theme/frontend/img/icon/Facebook_contact.png" alt=""/></a><a href="#"><img src="theme/frontend/img/icon/Line_contact.png" alt=""/></a></div>
      </div>
    </div>
  </div>
</div>