
<div class="card">
  <div class="title"><img src="theme/frontend/img/title-line.png" height="13" width="49"/><span>最新消息</span><img src="theme/frontend/img/title-line2.png" height="13" width="49"/></div>
  <div class="newsContent">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="https://www.goodchos.com.tw/article/131" class="newsContent__link"> 
            <div class="newsContent__pic"><img src="https://www.goodchos.com.tw/upload/article/5b32f0b7dc412bdca80ed172f0007a55.jpg" alt=""/></div>
            <div class="newsContent__text">
              <div class="newsContent__title">隨石虎足跡，到石虎米產地見學為友善生產者打氣</div>
              <div class="newsContent__message">【2019-12-27】跟隨著五穀米香貝果合作夥伴「石虎米團隊」的足跡，好丘來到友善物產的</div>
              <div class="news_banner_more"></div>
            </div></a></div>
        <div class="swiper-slide"><a href="https://www.goodchos.com.tw/article/129" class="newsContent__link"> 
            <div class="newsContent__pic"><img src="https://www.goodchos.com.tw/upload/article/94284e61ea2b25eaa46d4fffe0b3e056.jpg" alt=""/></div>
            <div class="newsContent__text">
              <div class="newsContent__title">友善串聯『不簡單的米』石虎米x好米芽 人物訪談</div>
              <div class="newsContent__message">【2019-12-15】在與石虎米團隊(臺灣藍鵲茶)共同策劃友善商品展時，就一直在思考，如何讓更多人、
                <div class="news_banner_more"></div>
              </div>
            </div></a></div>
        <div class="swiper-slide"><a href="https://www.goodchos.com.tw/article/128" class="newsContent__link"> 
            <div class="newsContent__pic"><img src="https://www.goodchos.com.tw/upload/article/e665c1697ced6c217ff9f375baad5a7f.jpg" alt=""/></div>
            <div class="newsContent__text">
              <div class="newsContent__title">「香烤貝果」熱熱吃超幸福！圓山店限定推出</div>
              <div class="newsContent__message">【2019-11-29】好丘嚴選在地物產手工入餡的貝果深受消費者喜愛，並持續發展出多變的貝果吃法，提</div>
              <div class="news_banner_more"></div>
            </div></a></div>
        <div class="swiper-slide"><a href="https://www.goodchos.com.tw/article/131" class="newsContent__link"> 
            <div class="newsContent__pic"><img src="https://www.goodchos.com.tw/upload/article/5b32f0b7dc412bdca80ed172f0007a55.jpg" alt=""/></div>
            <div class="newsContent__text">
              <div class="newsContent__title">隨石虎足跡，到石虎米產地見學為友善生產者打氣</div>
              <div class="newsContent__message">【2019-12-27】跟隨著五穀米香貝果合作夥伴「石虎米團隊」的足跡，好丘來到友善物產的</div>
              <div class="news_banner_more"></div>
            </div></a></div>
        <div class="swiper-slide"><a href="https://www.goodchos.com.tw/article/129" class="newsContent__link"> 
            <div class="newsContent__pic"><img src="https://www.goodchos.com.tw/upload/article/94284e61ea2b25eaa46d4fffe0b3e056.jpg" alt=""/></div>
            <div class="newsContent__text">
              <div class="newsContent__title">友善串聯『不簡單的米』石虎米x好米芽 人物訪談</div>
              <div class="newsContent__message">【2019-12-15】在與石虎米團隊(臺灣藍鵲茶)共同策劃友善商品展時，就一直在思考，如何讓更多人、
                <div class="news_banner_more"></div>
              </div>
            </div></a></div>
        <div class="swiper-slide"><a href="https://www.goodchos.com.tw/article/128" class="newsContent__link"> 
            <div class="newsContent__pic"><img src="https://www.goodchos.com.tw/upload/article/e665c1697ced6c217ff9f375baad5a7f.jpg" alt=""/></div>
            <div class="newsContent__text">
              <div class="newsContent__title">「香烤貝果」熱熱吃超幸福！圓山店限定推出</div>
              <div class="newsContent__message">【2019-11-29】好丘嚴選在地物產手工入餡的貝果深受消費者喜愛，並持續發展出多變的貝果吃法，提</div>
              <div class="news_banner_more"></div>
            </div></a></div>
        <div class="swiper-slide"><a href="https://www.goodchos.com.tw/article/131" class="newsContent__link"> 
            <div class="newsContent__pic"><img src="https://www.goodchos.com.tw/upload/article/5b32f0b7dc412bdca80ed172f0007a55.jpg" alt=""/></div>
            <div class="newsContent__text">
              <div class="newsContent__title">隨石虎足跡，到石虎米產地見學為友善生產者打氣</div>
              <div class="newsContent__message">【2019-12-27】跟隨著五穀米香貝果合作夥伴「石虎米團隊」的足跡，好丘來到友善物產的</div>
              <div class="news_banner_more"></div>
            </div></a></div>
        <div class="swiper-slide"><a href="https://www.goodchos.com.tw/article/129" class="newsContent__link"> 
            <div class="newsContent__pic"><img src="https://www.goodchos.com.tw/upload/article/94284e61ea2b25eaa46d4fffe0b3e056.jpg" alt=""/></div>
            <div class="newsContent__text">
              <div class="newsContent__title">友善串聯『不簡單的米』石虎米x好米芽 人物訪談</div>
              <div class="newsContent__message">【2019-12-15】在與石虎米團隊(臺灣藍鵲茶)共同策劃友善商品展時，就一直在思考，如何讓更多人、
                <div class="news_banner_more"></div>
              </div>
            </div></a></div>
        <div class="swiper-slide"><a href="https://www.goodchos.com.tw/article/128" class="newsContent__link"> 
            <div class="newsContent__pic"><img src="https://www.goodchos.com.tw/upload/article/e665c1697ced6c217ff9f375baad5a7f.jpg" alt=""/></div>
            <div class="newsContent__text">
              <div class="newsContent__title">「香烤貝果」熱熱吃超幸福！圓山店限定推出</div>
              <div class="newsContent__message">【2019-11-29】好丘嚴選在地物產手工入餡的貝果深受消費者喜愛，並持續發展出多變的貝果吃法，提</div>
              <div class="news_banner_more"></div>
            </div></a></div>
        <div class="swiper-slide"><a href="https://www.goodchos.com.tw/article/131" class="newsContent__link"> 
            <div class="newsContent__pic"><img src="https://www.goodchos.com.tw/upload/article/5b32f0b7dc412bdca80ed172f0007a55.jpg" alt=""/></div>
            <div class="newsContent__text">
              <div class="newsContent__title">隨石虎足跡，到石虎米產地見學為友善生產者打氣</div>
              <div class="newsContent__message">【2019-12-27】跟隨著五穀米香貝果合作夥伴「石虎米團隊」的足跡，好丘來到友善物產的</div>
              <div class="news_banner_more"></div>
            </div></a></div>
      </div>
    </div><a id="newsContent__prev" href="#" class="news_con_prev"></a><a id="newsContent__next" href="#" class="news_con_next"></a>
  </div>
</div>